{{display-cart}}

<h1>Product:{{product.title}}</h1>
<br>
<img src="{{product.image}}" alt="img">
<br>
<h5>What is this? {{product.description}}</h5>
<br>
<h4>Current Price:{{product.cost}}</h4>
<br>
<button class="btn btn-warning"{{action 'addToCart' product}}> Add to Cart</button>
